[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
sklearn = "*"
scikit-image = "*"
click = "*"
torch = "*"
torchvision = "*"
chess = "*"
torchsummary = "*"
numpy = "*"
albumentations = "*"
joblib = "*"
pyttsx3 = "*"
cairosvg = "*"
gtts = "*"
playsound = "*"

[dev-packages]
line-profiler = "*"
jupyterlab = "*"
labelimg = "*"
labelme2coco = "*"
pycocotools = "*"

[requires]
